.billing-container {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: #fff;
}

.left-container {
  width: 50%;
}

.right-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.top-right {
  display: flex;
  height: 120vh;
}

.center-container {
  width: 140px;
  max-height: 120vh;
  border: 2px solid #f3eded;
  background-color: #c7ceee;
}

.image-container {
  width: 100%;
}

.button-container {
  height: 45vh;
  border: 1px solid #f3eded;
  background-color: rgb(158, 238, 158);
}
